
ul..art-blockcontent, ul..art-blockcontent ul
{
   list-style: none;
   display: block;
}

ul..art-blockcontent, ul..art-blockcontent li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul..art-blockcontent
{
   margin-top: 0;
   margin-bottom: 0;
}

ul..art-blockcontent ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul..art-blockcontent ul.active
{
   display: block;
}

ul..art-blockcontent>li>a
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.2);
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.03);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.03);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.03);
   border:1px solid #000000;
   padding:0 15px;
   margin:0 auto;
   color: #644A02;
   min-height: 30px;
   line-height: 30px;
}
ul..art-blockcontent a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul..art-blockcontent li{
   position:relative;
}

ul..art-blockcontent>li
{
   margin-top: 0;
}
ul..art-blockcontent>li>ul
{
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
}
ul..art-blockcontent>li:first-child
{
   margin-top:0;
}

ul..art-blockcontent>li>a:before
{
   content:url('images/vmenuitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul..art-blockcontent>li>a:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul..art-blockcontent>li>a.active:before
{
   content:url('images/vmenuactiveitemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul..art-blockcontent>li>a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul..art-blockcontent>li>a:hover:before,  ul..art-blockcontent>li>a.active:hover:before,  ul..art-blockcontent>li:hover>a:before,  ul..art-blockcontent>li:hover>a.active:before
{
   content:url('images/vmenuhovereditemicon.png');
   margin-right:5px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera ul..art-blockcontent>li>a:hover:before, .opera   ul..art-blockcontent>li>a.active:hover:before, .opera   ul..art-blockcontent>li:hover>a:before, .opera   ul..art-blockcontent>li:hover>a.active:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

ul..art-blockcontent>li>a:hover, ul..art-blockcontent>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul..art-blockcontent>li>a:hover, ul..art-blockcontent>li>a.active:hover
{
   text-decoration: none;
}

ul..art-blockcontent a:hover, ul..art-blockcontent a.active:hover 
{
   color: #642302;
}

ul..art-blockcontent>li>a.active:hover>span.border-top, ul..art-blockcontent>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul..art-blockcontent>li>a.active
{
   background: #E2341D;
   background: rgba(226, 52, 29, 0.4);
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.06);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.06);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.06);
   border:1px solid #D74B04;
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #7D2B03;
}

ul..art-blockcontent>li>ul:before
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul..art-blockcontent li li a
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #FA681E;
   margin:0 auto;
   position: relative;
}
ul..art-blockcontent ul li
{
   margin: 0;
   padding: 0;
}
ul..art-blockcontent li li{
   position: relative;
   margin-top: 0;
}

ul..art-blockcontent ul a
{
   display: block;
   position: relative;
   min-height: 22px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 22px;
   color: #404040;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul..art-blockcontent ul a:visited, ul..art-blockcontent ul a.active:hover, ul..art-blockcontent ul a:hover, ul..art-blockcontent ul a.active
{
   line-height: 22px;
   color: #404040;
   font-size: 13px;
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul..art-blockcontent ul ul a
{
   padding-left: 54px;
}
ul..art-blockcontent ul ul ul a
{
   padding-left: 81px;
}
ul..art-blockcontent ul ul ul ul a
{
   padding-left: 108px;
}
ul..art-blockcontent ul ul ul ul ul a
{
   padding-left: 135px;
}

ul..art-blockcontent ul>li>a:hover, ul..art-blockcontent ul>li>a.active:hover
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #FBC737;
   margin:0 auto;
}
ul..art-blockcontent ul li a:hover, ul..art-blockcontent ul li a.active:hover
{
   text-decoration: none;
   color: #7D2B03;
}

ul..art-blockcontent ul a:hover:after
{
   background-position: center ;
}
ul..art-blockcontent ul a.active:hover:after
{
   background-position: center ;
}
ul..art-blockcontent ul a.active:after
{
   background-position: bottom ;
}

ul..art-blockcontent li li a.active:hover span.border-top, ul..art-blockcontent li li a.active:hover span.border-bottom 
{
   background-color: transparent;
}
ul..art-blockcontent li li a:hover span.border-top, ul..art-blockcontent li li a:hover span.border-bottom 
{
   background-color: #FBC737 !important;
}
ul..art-blockcontent li li:hover, ul..art-blockcontent li li a:hover, ul..art-blockcontent li li a:hover span.border-top, ul..art-blockcontent li li a:hover span.border-bottom
{
   z-index: 2;
}

ul..art-blockcontent ul>li>a.active
{
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #D74B04;
   margin:0 auto;
}
ul..art-blockcontent ul a.active, ul..art-blockcontent ul a:hover, ul..art-blockcontent ul a.active:hover
{
   text-decoration: none;
   color: #7D2B03;
}

ul..art-blockcontent li li a.active
{
   z-index: 1;
}
ul..art-blockcontent li li a.active span.border-top, ul..art-blockcontent li li a.active span.border-bottom 
{
   background-color: #D74B04;
   z-index: 1;
}
